body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    color: blue;
    text-align: center;
    font-size: larger;
}
.guess-board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0px;
    row-gap: 4px;
}

.guess-tile {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
    font-size: 24px;
}

.tile-correct {
    background-color: green;
}

.tile-somewhere-else {
    background-color: yellow;
}

.tile-not-present {
    background-color: grey;
    color: white;
}

.tile-not-selected {
    background-color: lightblue;
}


.keyboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 10px;
}

.key {
    width: 26px;
    height: 50px;
    font-size: 10px;
    margin: 0px;

}

.nav-bar {
    text-align: center;
}

.new-game {
    background-color: cornflowerblue;
    color: white;
    font-size: medium;
    margin: 3px; 
    padding: 10px;
}

.delete-key, .enter-key {
    width: 50px;
    background-color: lightgray;
    height: 50px;
    font-size: 10px;
    margin: 1px;
}

.letter-not-present {
    background-color: gray;
    color: white;
}

.letter-somewhere-else {
    background-color: yellow;
    color: black;
}

.letter-correct {
    background-color: green;
    color: white;
}

.letter-not-selected {
    background-color: lightgray;
    color: black;
}

#status-bar {
    color: black;
    font-size: larger;
    text-align: center;
    margin: 10px;
}

#player-stats-bar {
    color: black;
    font-size: medium;
    text-align: center;
    margin-bottom: 5px;
}