
.guessboard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.guess-tile {
    width: 40px;
    height: 60px;
    background-color: yellow;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

.keyboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

button {
    width: 30px;
    height: 60px;
    font-size: 10px;
    margin: 10px;
}


.delete-key, .enter-key {
    width: 100px;
}

.letter-not-present {
    background-color: gray;
    color: white;
}

.letter-somewhere-else {
    background-color: yellow;
    color: white;
}

.letter-correct {
    background-color: green;
    color: white;
}

.letter-not-selected {
    background-color: lightgray;
    color: black;
}